<div class="comment card mb-3" id="comment_row_<%= comment.id%>">
  <article class="card-body">
    <p class="card-text"><%= comment.content %></p>
    <small class="text-muted">by <%= comment.user.username %></small>

<% if can?(:destroy, comment)%>
  <%= link_to [comment.post, comment],data: {turbo_method: :delete, turbo_confirm: 'You sure?'}, class: "btn btn-sm btn-outline-danger float-end" do %>
    <i class="bi bi-trash-fill"></i>
  <% end %>
<% end %>




    <a href='#' class="comment-form-display mt-2 d-block">Reply</a>
    <div class='comment-form mt-2' style="display: none;">
      <%= render partial: 'comments/form', locals: { post: comment.post, parent: comment } %>
    </div>
    <hr class="mt-2">

    <div class="sub-comment mt-3">
      <%= render comment.comments.order(id: :desc) %>
    </div>
    <!-- Additional content and formatting for each comment -->
  </article>
</div>

<script>
  document.querySelectorAll('.comment-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
      ev.preventDefault();
      el.nextElementSibling.style.display = 'block';
    });
  });
</script>
