<!DOCTYPE html>
<html>
<head>
  <title>Welcome to My App</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <style>
     .post-card {
      max-width: 300px;
      margin: 10px;
     }

      .carousel-img {
        max-height: 650px;
        margin: 0 auto; 
      }

      .post-card .card-body {
        height: 150px; 
        overflow: hidden;
       }
  </style>
</head>
<body style="background-color: #f8f9fa;">

<%# Banner Images %>
<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'https://www.searchenginejournal.com/wp-content/uploads/2021/09/16-reasons-why-social-media-is-important-to-your-company-616d3200e6dc6-sej-760x400.webp', class: "d-block w-100 carousel-img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'https://thumbor.forbes.com/thumbor/fit-in/1290x/https://www.forbes.com/advisor/wp-content/uploads/2023/05/Social_Media_Statistics_-_article_image.jpg', class: "d-block w-100 carousel-img" %>
    </div>
    <div class="carousel-item">
     <%= image_tag 'https://api.backlinko.com/app/uploads/2020/08/social-media-users-post-banner-960x502.webp', class: "d-block w-100 carousel-img" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<%# Users Posts Slider %>
<div class="container">
  <% @users.each do |user| %>
    <div class="carousel slide mt-5" data-bs-ride="carousel" data-bs-interval="2000"> 
      <div class="carousel-inner">
        <% user.posts.each_slice(3) do |posts| %>
          <div class="carousel-item <%= posts == user.posts.first(3) ? 'active' : '' %>">
            <div class="row justify-content-center">
            <h2 class="text-center">Posts by <%= user.username %></h2>
              <% posts.each do |post| %>
                <div class="col-md-4">
                  <div class="card post-card">
                    <div class="ratio ratio-4x3">
                    <% if post.image.attached? %>
                      <%= image_tag post.image, class: "card-img-top img-fluid" %>
                      <%else%>
                      <p>No Image Availabe.</p>
                      <%end%>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"><%= post.name %></h5>
                      <p class="card-text"><%= post.description %></p>
                      <% if user_signed_in? %>
                        <%= button_to "Like", likes_path, method: :post, params: { post_id: post.id }, class: "btn btn-primary" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#<%= "userPostsSlider#{user.id}" %>" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#<%= "userPostsSlider#{user.id}" %>" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  <% end %>
</div>


<%# FOOTER %>
<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>If you need any assistance, feel free to reach out to our support team:</p>
        <p><strong>Email:</strong> support@example.com</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Home</a></li>
          <li><a href="#" class="text-light">Contact Us</a></li>
          <li><a href="#" class="text-light">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Subscribe to Newsletter</h5>
        <form action="#" method="post" class="mb-3">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Enter your email" required>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </div>
        </form>
        <p>Stay up to date with our latest news and offers.</p>
      </div>
    </div>
  </div>
</footer>



<!-- Include Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
