<!-- app/views/posts/show.html.erb -->
<h1><%= @post.name %></h1>
<p><%= @post.description %></p>
<% if @post.image.attached? %>
  <%= image_tag @post.image %>
<% else %>
  <p>No image attached.</p>
<% end %>
<br>

<%# Comments Section %>
<strong>Comments:</strong>
<%= render @post.comments.where(parent_id: nil).includes(:user).order(id: :desc)%>
<%= render partial: 'comments/form', locals: { post: @post, parent: nil } %>


<% if user_signed_in? %>
  <% if current_user.likes.exists?(post: @post) %>
    <%= button_to "Unlike", like_path, method: :delete, params: { post_id: @post.id } %>
  <% else %>
    <%= button_to "Like", likes_path, method: :post, params: { post_id: @post.id } %>
  <% end %>
<% end %>
<!-- Display other post details here, if needed -->
 <% if can? :update, @post %>
    <%= link_to "Edit", edit_post_path(@post) %>
<%end%>
<%= link_to "Back", posts_path %>
