<!DOCTYPE html>
<html>
  <head>
    <title>SocialApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
 <style>
    body {
      background-color: #f8f9fa;
    }

    .card {
      border: none;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .card-header {
      background-color: #343a40;
      color: #ffffff;
      text-align: center;
      padding: 1rem;
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }

    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
  </style>
  <body>
  
   
  <%# Navigation Bar %>
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SOCIAL APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= posts_path %>">All Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_post_path %>">Create Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="<%= edit_user_registration_path %>">
              <i class="bi bi-person-fill me-1"></i>
              Edit Profile
            </a>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
          </li>
        </ul>
      <% else %>
        <div class="d-flex">
          <a href="<%= new_user_session_path %>" class="btn btn-outline-light me-2">
            <i class="bi bi-box-arrow-in-right"></i>
            Sign In
          </a>
          <a href="<%= new_user_registration_path %>" class="btn btn-outline-light">
            <i class="bi bi-person-plus-fill me-1"></i>
            Register
          </a>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<%# Alerts %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <% if notice.present? %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= notice %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>

          <% if alert.present? %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= alert %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
        </div>
      </div>
    </div>    

    <%= yield %>





  </body>
</html>
